
.terraform/
*.tfvars
!dev.tfvars
!integration.tfvars
!prod.tfvars

*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 4. Ignore CLI configuration files
.terraformrc
terraform.rc